[submodule "libs/vcpkg"]
	path = libs/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "libs/doxygen-awesome-css"]
	path = libs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "libs/bgfx"]
	path = libs/bgfx
	url = https://github.com/bkaradzic/bgfx.cmake.git
